
header {
    text-align: center;
    background-image: $cta-gradient;
    color: white;
    border-radius: 0px 0px 0px 40px;
    z-index: -2;
    &::after {
        background-image: url(../images/bg-pattern-intro.svg);
        position: absolute;
        width: 1400px;
        margin-left: -50%;
        margin-top: -310px;
        object-fit: cover;
        object-position: -50% 0;
    }
    h2 {
        font-size: 3rem;
        padding-bottom: .4rem;
    }
    .header-top-section {
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
    .logo {
        width: 11%;
    }
    .header-btns {
        margin: 2rem;
        padding: 2rem;
        padding-bottom: 8rem;
        font-family: 'Ubuntu', sans-serif;
    }
    .last {
        border-radius: 9900px;
        padding: .5rem;
        color: $cta-gradient;
        background-color: white;
        border: white 3px solid;
        transition-duration: 300ms;
        &:hover {
            background-image: $cta-gradient;
            color: white;
        }
    }
    .last-invert {
        border-radius: 9900px;
        padding: .5rem;
        color: white;
        background-color: $cta-gradient;
        border: white 3px solid;
        transition-duration: 300ms;
        &:hover {
            color: hsl(353, 100%, 62%);
            background-color: white;
        }
    }
}