
header {
    text-align: center;
    background-image: $cta-gradient;
    color: white;
    border-radius: 0px 0px 0px 40px;
    z-index: -2;
    &::after {
        background-image: url(../images/bg-pattern-intro.svg);
        position: absolute;
        width: 1400px;
        margin-left: -50%;
        margin-top: -310px;
        object-fit: cover;
        object-position: -50% 0;
        overflow: hidden;
    }
    h2 {
        font-size: 30px;
        padding-bottom: .4em;
    }
    .header-btns {
        height: fit-content;
        margin: 2em;
        padding: 2em;
        padding-bottom: 8em;
        font-family: 'Ubuntu', sans-serif;
    }
    .last {
        border-radius: 9900px;
        padding: .5em;
        color: $cta-gradient;
        background-color: white;
        border: white 3px solid;
        transition-duration: 300ms;
        &:hover {
            background-image: $cta-gradient;
            color: white;
        }
    }
    .last-invert {
        border-radius: 9900px;
        padding: .5em;
        color: white;
        background-color: $cta-gradient;
        border: white 3px solid;
        transition-duration: 300ms;
        &:hover {
            color: hsl(353, 100%, 62%);
            background-color: white;
        }
    }
}