nav {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 3rem 3rem 0;
    h3 {
        justify-self: flex-start;
        width: fit-content;
        position: relative;
        padding: .2rem;
        padding-bottom: 0px;
        &::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 10px;
            width: 10px;
            height: 8px;
            transform: rotateZ(180deg);
            background-repeat: no-repeat;
            background-image: url(../images/icon-arrow-light.svg);
            transition-duration: 300ms;
        }

        a, .nav-menu {
            visibility: hidden;
        }
        &:hover, &:focus {
            text-decoration: underline;
            a, .nav-menu {
                visibility: visible;
                animation: drop linear 300ms 0ms forwards;
            }
            a {
                color: $heading-text;
                text-decoration: none;
                &:hover, &:focus {
                    outline: none;
                    color: $footer-background;
                }
            }
            &::after {
                transform: rotateZ(0deg);
            }
        }
    }
    a {
        justify-self: flex-end;
        padding: 0 1rem;
       
    } 
}
.burger {
    display: none;
}
.nav-menu {
    margin-top: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: white;
    padding: .4rem;
    border-radius: 4px;
}
a {
    text-decoration: none;
}
@keyframes drop {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
@media only screen and (max-width: 375px) {
    nav {
        flex-flow: column;
        h3, a {
            display: none;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
        }
        .burger {
            display: block;
            right: 10px;
            top: 10px;
            &:focus, &:hover {
                h3, a {
                    display: flex;
                }
            }
        }
    }
}
