
#panel-1 {
    background-color: white;
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    h4, h3 {
        color: $heading-text;
    }
    h3 {
        @include font-size(2);
        padding: 2em;
        overflow-y: hidden; 
    }
    h4 {
        @include font-size(1.5);
        padding: 1em;
        padding-left: 0px;
    }
    p {
        @include font-size(1);
        color: $body-copy;
    }
    article {
        width: 50%;
        padding-left: 2%;
        text-align: start;
    }
    img {
        position: absolute;
        top: 0px;
        right: -294px;
    }
}

@media only screen and (max-width: 375px) {
    #panel-1 {
        grid-template-rows: 200px 1fr 300px 300px;
        height: 200vh;
        img {
            position: relative;
            width: 100%;
            right: 0%;
            margin: 0 auto;
            height: 400px;
            src: local("images/illustration-editor-mobile.svg");
        }
        article { 
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }
    }
}