
#panel-3 {
    position: relative;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column wrap;
    h4, h3 {
        color: $heading-text;
    }
    h3 {
        padding: 3rem;
        @include font-size(2);
    }
    h4 {
        @include font-size(1.5);
        padding: 1rem;
        padding-left: 0px;
    }
    p {
        @include font-size(1);
        color: $body-copy;
    }
    article {
        width: 50%;
        padding: 2rem;
        text-align: start;
    }
    img {
        position: absolute;
        left: -270px;
    }
}
@media only screen and (max-width: 375px) {
    #panel-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        height: fit-content;
        img {
            position:static;
            width: 110%;
            height: 400px;
            padding-top: .2em;
        }
        article { 
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }
    }
}