
#panel-2 {
    height: 490px;
    background-image: $body-gradient;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 0px 40px 0px 40px;
    overflow-y: hidden;
    h3 {
        padding: 1em;
        padding-left: 0px;
        @include font-size(2);
    }
    p {
        @include font-size(1);
    }
    article {
        padding-top: 25%;
        width: 90%;
        margin: 0 auto;
        text-align: start;
    }
}
@media only screen and (max-width: 375px) {
    #panel-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            top: -200px;
        }
        article {
            text-align: center;
            position: absolute; 
        }
    }
}