* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Overpass;
  src: url(https://fonts.google.com/specimen/Overpass?preview.text_type=custom);
}

@font-face {
  font-family: Ubuntu;
  src: url(https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom);
}

header, nav, footer, .panel {
  width: 100vw;
}

header {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(#ff8f70, #ff3d54);
  color: white;
  border-radius: 0px 0px 0px 40px;
}

header h2 {
  font-size: 30px;
  padding-bottom: .4em;
}

header .header-btns {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2em;
  padding: 2em;
  padding-bottom: 8em;
}

header .last {
  border-radius: 9900px;
  padding: .5em;
  color: linear-gradient(#ff8f70, #ff3d54);
  background-color: white;
}

header .last-invert {
  border-radius: 9900px;
  padding: .5em;
  color: white;
  background-color: linear-gradient(#ff8f70, #ff3d54);
  border: white 3px solid;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em;
  padding-bottom: 0px;
}

nav h3 {
  justify-self: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: .2em;
  padding-bottom: 0px;
}

nav h3::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 9px;
  width: 0;
  height: 0;
  border-left: 5px solid white;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

nav h3 a {
  visibility: hidden;
}

nav h3:hover a {
  visibility: visible;
}

nav a {
  -ms-grid-column-align: end;
      justify-self: end;
  padding: .2em;
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

a {
  text-decoration: none;
}

#panel-1 {
  background-color: white;
  position: relative;
  height: 1018px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

#panel-1 h4, #panel-1 h3 {
  color: #1f3f5b;
}

#panel-1 h3 {
  padding: 3em;
  font-size: 32.36px;
}

#panel-1 h4 {
  font-size: 16.18px;
  padding: 1em;
  padding-left: 0px;
}

#panel-1 p {
  font-size: 16.18px;
  color: #4b5862;
}

#panel-1 article {
  width: 50%;
  padding-left: 10%;
  text-align: start;
}

#panel-1 #illustration-1 {
  position: absolute;
  top: 0px;
  right: -394px;
}

#panel-2 {
  height: 490px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background-image: linear-gradient(#2c2d3f, #3f4164);
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  border-radius: 0px 0px 0px 40px;
}

#panel-2 h3 {
  padding: 1em;
  padding-left: 0px;
  font-size: 32.36px;
}

#panel-2 p {
  font-size: 16.18px;
  width: 90%;
}

#panel-2 article {
  padding-top: 25%;
  width: 90%;
  padding-left: 10%;
  text-align: start;
}

#panel-3 {
  position: relative;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

#panel-3 h4, #panel-3 h3 {
  color: #1f3f5b;
}

#panel-3 h3 {
  padding: 3em;
  font-size: 32.36px;
}

#panel-3 h4 {
  font-size: 16.18px;
  padding: 1em;
  padding-left: 0px;
}

#panel-3 p {
  font-size: 16.18px;
  color: #4b5862;
}

#panel-3 article {
  width: 50%;
  padding: 2em;
  text-align: start;
}

#panel-3 svg {
  position: absolute;
  left: -200px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #25252d;
  color: #c8c8cb;
  padding: 3em;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

footer h3 {
  margin: .4em;
  padding-bottom: 10px;
}

footer a {
  color: #c8c8cb;
}
/*# sourceMappingURL=style.css.map */