// table of contents
// 1. variables
//      a. colors
//      b. font-families
//      c. font-sizes
// 2. mixins
// 3. header
// 4. nav
// 5. panel-1
// 6. panel-2
// 7. panel-3
// 8. footer

// 0. settings
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// 1. variables
@import "./variables";

// 2. mixins
@mixin font-size($num) {
    font-size: $font-size * 1.618 * $num;
}
// 3. header
@import "./header";

// 4. nav 
@import "./nav";

// 5. panel-1
#panel-1 {
    background-color: white;
    position: relative;
    height: 1018px;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    h4, h3 {
        color: $heading-text;
    }
    h3 {
        padding: 3em;
        @include font-size(2);
    }
    h4 {
        @include font-size(1);
        padding: 1em;
        padding-left: 0px;
    }
    p {
        @include font-size(1);
        color: $body-copy;
    }
    article {
        width: 50%;
        padding-left: 10%;
        text-align: start;
    }
    #illustration-1 {
        position: absolute;
        top: 0px;
        right: -394px;
    }
}
// 6. panel-2
// 7. panel-3
// 8. footer
@import "./footer";