* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: Overpass;
  src: url(https://fonts.google.com/specimen/Overpass?preview.text_type=custom);
}

@font-face {
  font-family: Ubuntu;
  src: url(https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom);
}

header {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(#ff8f70, #ff3d54);
  color: white;
  border-radius: 0px 0px 0px 40px;
}

header h2 {
  font-size: 30px;
  padding-bottom: .4em;
}

header .header-btns {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2em;
  padding: 2em;
  padding-bottom: 8em;
}

header .last {
  border-radius: 9900px;
  padding: .5em;
  color: linear-gradient(#ff8f70, #ff3d54);
  background-color: white;
  border: white 3px solid;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

header .last:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(#ff8f70, #ff3d54);
  color: white;
}

header .last-invert {
  border-radius: 9900px;
  padding: .5em;
  color: white;
  background-color: linear-gradient(#ff8f70, #ff3d54);
  border: white 3px solid;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

header .last-invert:hover {
  color: #ff3d54;
  background-color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 3em;
  padding-bottom: 0px;
}

nav h3 {
  justify-self: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: .2em;
  padding-bottom: 0px;
}

nav h3::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 10px;
  width: 10px;
  height: 8px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  background-repeat: no-repeat;
  background-image: url(../images/icon-arrow-light.svg);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

nav h3 a, nav h3 .nav-menu {
  visibility: hidden;
}

nav h3:hover, nav h3:focus {
  text-decoration: underline;
}

nav h3:hover a, nav h3:hover .nav-menu, nav h3:focus a, nav h3:focus .nav-menu {
  visibility: visible;
  -webkit-animation: drop linear 300ms 0ms forwards;
          animation: drop linear 300ms 0ms forwards;
}

nav h3:hover a, nav h3:focus a {
  color: #1f3f5b;
  text-decoration: none;
}

nav h3:hover a:hover, nav h3:focus a:hover {
  color: #25252d;
}

nav h3:hover::after, nav h3:focus::after {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

nav a {
  justify-self: flex-end;
  padding: 0 1em;
}

.burger {
  display: none;
}

.nav-menu {
  margin-top: .6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: white;
  padding: .4em;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

@-webkit-keyframes drop {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes drop {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media only screen and (max-width: 375px) {
  nav h3, nav a {
    display: none;
  }
  nav .burger {
    display: block;
    right: 10px;
    top: 10px;
  }
  nav .burger:focus h3, nav .burger:focus a, nav .burger:hover h3, nav .burger:hover a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

#panel-1 {
  background-color: white;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

#panel-1 h4, #panel-1 h3 {
  color: #1f3f5b;
}

#panel-1 h3 {
  font-size: 32.36px;
  padding: 2em;
  overflow-y: hidden;
}

#panel-1 h4 {
  font-size: 24.27px;
  padding: 1em;
  padding-left: 0px;
}

#panel-1 p {
  font-size: 16.18px;
  color: #4b5862;
}

#panel-1 article {
  width: 50%;
  padding-left: 2%;
  text-align: start;
}

#panel-1 img {
  position: absolute;
  top: 0px;
  right: -294px;
}

@media only screen and (max-width: 375px) {
  #panel-1 {
    -ms-grid-rows: 200px 1fr 300px 300px;
        grid-template-rows: 200px 1fr 300px 300px;
    height: 200vh;
  }
  #panel-1 img {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 0 auto;
    height: 400px;
    src: local("images/illustration-editor-mobile.svg");
  }
  #panel-1 article {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

#panel-2 {
  height: 490px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background-image: linear-gradient(#2c2d3f, #3f4164);
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  border-radius: 0px 40px 0px 40px;
  overflow-y: hidden;
}

#panel-2 h3 {
  padding: 1em;
  padding-left: 0px;
  font-size: 32.36px;
}

#panel-2 p {
  font-size: 16.18px;
}

#panel-2 article {
  padding-top: 25%;
  width: 90%;
  margin: 0 auto;
  text-align: start;
}

@media only screen and (max-width: 375px) {
  #panel-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80vh;
    position: relative;
  }
  #panel-2 img {
    width: 100%;
    position: absolute;
    top: -200px;
  }
  #panel-2 article {
    text-align: center;
    position: absolute;
  }
}

#panel-3 {
  position: relative;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

#panel-3 h4, #panel-3 h3 {
  color: #1f3f5b;
}

#panel-3 h3 {
  padding: 3em;
  font-size: 32.36px;
}

#panel-3 h4 {
  font-size: 24.27px;
  padding: 1em;
  padding-left: 0px;
}

#panel-3 p {
  font-size: 16.18px;
  color: #4b5862;
}

#panel-3 article {
  width: 50%;
  padding: 2em;
  text-align: start;
}

#panel-3 img {
  position: absolute;
  left: -270px;
}

@media only screen and (max-width: 375px) {
  #panel-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #panel-3 img {
    position: static;
    width: 110%;
    height: 400px;
    padding-top: .2em;
  }
  #panel-3 article {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #25252d;
  color: #c8c8cb;
  padding: 3em;
  border-radius: 0px 100px 0px 0px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

footer h3 {
  margin: .4em;
  padding-bottom: 10px;
}

footer a {
  color: #c8c8cb;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 375px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  footer h3 {
    padding-top: 15px;
    padding-bottom: 0px;
    text-decoration: underline;
  }
}

header, nav, footer, section {
  width: 100vw;
}
/*# sourceMappingURL=style.css.map */