// table of contents
// 1. variables
//      a. colors
//      b. font-families
//      c. font-sizes
// 2. mixins
// 3. header
// 4. nav
// 5. panel-1
// 6. panel-2
// 7. panel-3
// 8. footer

// 0. settings
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// 1. variables
@import "./variables";

// 2. mixins
// 3. header
@import "./header";

// 4. nav 
@import "./nav";

// 5. panel-1
.panel-1 {
    background-color: white;
    h4, h3 {
        color: $heading-text;
    }
    h3 {
        padding: 3em;
    }
    p {
        color: $body-copy;
    }
}
// 6. panel-2
// 7. panel-3
// 8. footer
@import "./footer";